* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 145vh;
    margin: 50px;
    margin-left: -5px ;
}

.learning-grid-item {
    display: block;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    height: 230px; /* Set a specific height of 400px */
    width: 400px;  /* Set a specific width of 400px */
}

.learning-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 400px); /* Sets 3 columns of 400px width each */
    gap: 45px;
    width: calc(3 * 400px + 2 * 20px); /* Adjusts container width to fit 3 columns with gaps */
    max-width: 100%; /* Ensures it doesn't exceed screen width */
    padding: 2px;
    
}

.learning-grid-item img {
    width: 100%;
    height: 100%; /* Makes image fill the entire cell */
    object-fit: cover; /* Ensures image covers the cell without distortion */
    border-radius: 8px;
    
}

.learning-grid-item:hover {
    transform: scale(1.05);
}
